@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    font-size: 24px;
  }
  body {
    @apply font-primary bg-primary text-customColor leading-loose;
    font-size: 1rem;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
    -webkit-text-stroke: 2px #d9b23d; /* Adjust the stroke width and color as needed */
  }
}